body {
  margin: 0;
  padding: 20px;
  background: #111;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

#grid {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  gap: 4px;
}


.week {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #242424;
  
}

.week:hover::after {
  content: attr(data-info);
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 6px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 0 8px rgba(124, 47, 47, 0.6);
}

.past {
  background: #ffffff;
  box-shadow: 0 0 10px #00aeff;
}

.current {
  background: #ff3b3b;
  box-shadow: 0 0 6px #ff0000;
}
#footer {
  margin-top: 10px;
  font-size: 25px;
  text-align: center;
  line-height: 1.4;
}


@media (max-width: 800px) {
  #grid {
    grid-template-columns: repeat(26, 1fr); 
  }
}


.special-event {
  background: #ff7518 !important;
  box-shadow: 0 0 10px #ff7518;
  border-radius: 2px; /* เปลี่ยนทรงให้เด่น */
  transform: scale(1.4);
  z-index: 2;
}
